body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 0;
    background: #f3f3f3; /* You can change this as per your requirement */
    overflow: auto;
}


#canvas-container {
	
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Adjust this value as needed to provide space for other content */

}

#renderCanvas0 {
    width: 80%;  /* Adjust this to change your canvas size */
    height: 80vh; /* Adjust this to change your canvas size */
    border: 1px solid black;
    margin: auto;
}


.text {
	font-size: 6vw;
	word-spacing: 0.2em;
	margin: 0 auto;
	background: #fff;
	padding: 1em;
	border-bottom: 1vw solid #0e6dad;
	position:relative;
	line-height: 1.2em;
}
